:root {
  --fontAudioTitle: 20px;
  --fontAudioContent: 14px;
  --fontAudioBtn: 15px;
}
.audioToText_container {
  background-color: #000000;
}
.audioToText_container > .content {
  width: 100%;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
}
.content h4 {
  font-size: var(--fontAudioTitle);
  margin: 0;
  color: #fff;
  font-family: Proxima Nova Ligth;
}
.content p {
  color: rgb(132, 132, 132);
}
.input__container {
  font-family: Proxima Nova Ligth;
  margin: 1rem;
  padding: 1rem 1rem;
  border-radius: 5px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  width: 40%;
  align-self: center;
  border: solid 1px #212529;
}
.input__container > input {
  color: rgb(132, 132, 132);
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  background-color: #000000;
}
.input__container > input::file-selector-button {
  background-color: var(--D4-card-bg-title);
  border: none;
  color: #000000;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
  /* min-width: 200px; */
}
.input__container > input::file-selector-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.btn_AudioToText {
  min-width: 200px;
  font-size: var(--fontAudioBtn);
  border: none;
  background-color: var(--D4-card-bg-title);
  border-radius: 5px;
  aspect-ratio: 6/1;
  transition: all 200ms ease-in-out;
  color: #000000;
  font-family: Proxima Nova Ligth;
}
.btn_AudioToText:hover {
  transform: scale(1.1);
}
.result__container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border-radius: 5px;
  padding: 1rem;
}

.text__container {
  font-family: Proxima Nova Ligth;
  border: none;
  padding: 1rem;
  font-size: var(--fontAudioContent);
  border-radius: 5px;
  border: solid 1px #212529;
}
.polatity__container {
  padding: 1rem;
  min-height: 360px;
  border-radius: 5px;
  border: solid 1px #212529;
}
.audioToText_container .graphic__container {
  margin: auto;
  height: 300px;
  width: 400px;
}

@media only screen and (max-width: 900px) {
  .result__container {
    flex-direction: column;
  }
  .text__container,
  .polatity__container {
    width: 100%;
  }
  .input__container {
    width: 80%;
  }
}
@media only screen and (min-width: 901px) {
  .result__container {
    flex-direction: row;
  }
}
