:root {
  --bg_color: #000000;
  --navbar_font_color: #444444;
  --bg: #edf2f6;
  --bg-accent: #116a66;
  --text-color: #000000;
  --nav-size: 65px;
  --border: 0px solid #002c57;
  --border-radius: 8px;
  --speed: 500ms;
  --bg-icon-btn: #f8fefb;
}

.navbar_container_main {
   position: sticky;
  top: 0;
  z-index: 5;
  padding: 0.5rem 0;
  margin: 0 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(var(--primary-color), var(--secondary-color), var(--tertiary-color));

}

.btns_container {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  /* justify-content: right; */
  
}

.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.logo_container>img {
  width: 82px;
  
}

.btn_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_container>.btn_navbar {
  
  font-family: Proxima Nova Regular;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  /* border: 1px solid #013f78; */
  border: none;
  outline: none;
  transition: 250ms ease-in-out;
  color: var(--navbar_font_color);
  border-radius: 5px;
  margin: 0 1.5vw;
}

.btn_container>.btn_navbar_large {
  margin: 0 1rem;
}

.btn_container>.btn_navbar_small {
  margin: 0 3rem;
}

.btn_container>.btn_navbar:hover {
  transition: 250ms ease-in-out;
  color: #24bbec;
}

.separator {
  border-right: solid 2px var(--navbar_font_color);
}

#activate {
  color: #ffffff;
}

/* Top Navigation Bar */
.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
}

/* <ul> */
.navbar_nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

/* <li> */
.nav_item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
}

/* Icon Button */
.icon_button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: 25px;
  height: 25px;
  /* background-color: var(--bg-icon-btn); */
  background-color: var(--D4-card-bg-title);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
  box-shadow: 2px 2px 10px -2px #444444;

}

.icon_button:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

.icon_button svg {
  fill: #3d3d3d;
  width: 20px;
  height: 20px;
}

/* Dropdown Menu */

.dropdown {
  position: absolute;
  top: 3rem;
  width: 200px;
  transform: translateX(-45%);
  border: var(--border);
  border-radius: var(--border-radius);
  overflow: hidden;
  transition: height var(--speed) ease;
}

.menu {
  background-color: #00000011;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu_item {
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  transition: background var(--speed);
  margin: 3px;
}

.menu_item .icon_button {
  margin-right: 0.5rem;
}

.menu_item .icon_button:hover {
  filter: none;
}

.menu_item:hover {
  background-color: #d4d5db;
  cursor: pointer;
}

.icon_right {
  margin-left: auto;
}

/* CSSTransition classes  */
.menu_primary_enter {
  position: absolute;
  transform: translateX(-110%);
}

.menu_primary_enter_active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu_primary_exit {
  position: absolute;
}

.menu_primary_exit_active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu_secondary_enter {
  transform: translateX(110%);
}

.menu_secondary_enter_active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

/* .menu-secondary-exit {
} */
.menu_secondary_exit_active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

@media only screen and (max-width: 800px) {
  .btn_container>.btn_navbar {
    font-size: 10px;
  }
}

@media only screen and (min-width: 800px) {
  .btn_container>.btn_navbar {
    font-size: 12px;
  }
}

@media only screen and (min-width: 950px) {
  .btn_container>.btn_navbar {
    font-size: 15px;
  }

}