.container__home {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.container__home >.container__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5vh 7vw;
}
.tableHome__container{
  border-radius: 50px;  
}
.selectHome__container{
  /* display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}