.VocCard__container {
  border: none;
  transition: all 200ms ease-in-out;
  width: 92%;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.VocCard__container .titulo__container {
  font-size: 13px;
  background-color: var(--D4-card-bg-title);
}
.VocCard__container label {
  margin: 0;
  color: var(--D4-card-color-title);
  border-right: solid 1px var(--D4-card-color-title);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.VocCard__container label:hover {
  /* color: #24bbec; */
  cursor: pointer;
}
.VocCard__container .content__container {
  background-color: var(--D4-card-bg-color);
  padding: 0.3rem;
  font-size: 12px;
  color: #bdbdbd;
}
.VocCard__container:hover {
  cursor: pointer;
  transform: scale(1.05);
}
